data-sources/mongodb/v1/ingestion/nifi-flow/ingestion_v2 (1).json
{"flowContents":{"identifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302","instanceIdentifier":"8c7a4f63-0196-1000-5786-50468266fe96","name":"ingestion_v2","comments":"","position":{"x":-8.0,"y":-144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"412cc840-677c-3fbd-b93c-7a4457336f58","instanceIdentifier":"8c7cf893-0196-1000-ffde-9051c7a6b3f8","name":"GenerateFlowFile","comments":"","position":{"x":-32.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8c8512e0-0196-1000-c5f0-8dd8882284ca","instanceIdentifier":"a3dae28b-5be6-3d10-1f59-b2cf6cab89ad","name":"EvaluateJsonPath","comments":"","position":{"x":-1584.0,"y":72.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","database_name":"$.database_name","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","collection_name":"$.collection_name","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database_name":{"name":"database_name","displayName":"database_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"collection_name":{"name":"collection_name","displayName":"collection_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"aa05bfa8-bd6f-3059-93d9-7aaddb5ebf33","instanceIdentifier":"973700d3-0196-1000-f80a-92645ec639b3","name":"UpdateAttribute","comments":"","position":{"x":1552.0,"y":424.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"record_count":"${record.count}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source_system":"mongodb","Stateful Variables Initial Value":null},"propertyDescriptors":{"record_count":{"name":"record_count","displayName":"record_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source_system":{"name":"source_system","displayName":"source_system","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"837e666e-b12c-3a54-a494-bc1c001e2596","instanceIdentifier":"8c828a08-0196-1000-0b18-fdae0f33ca2c","name":"FetchFile","comments":"","position":{"x":-640.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/opt/nifi/nifi-current/data-pipelines/data-sources/mongodb/v#{pipeline.version}/ingestion/tracked-collections.json","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["permission.denied"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["permission.denied"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"65b3e020-3793-3aad-a27d-921926bc357a","instanceIdentifier":"926b239c-0196-1000-e459-d58b7f62ceaf","name":"AddMetadata","comments":"","position":{"x":56.0,"y":120.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.2.0"},"properties":{"groovyx-script-body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\nimport java.time.Instant\nimport java.time.ZoneId\nimport java.time.ZonedDateTime\nimport java.time.format.DateTimeFormatter\n\nlog.info(\"Script started\")\n\ndef flowFile = session.get()\nif (!flowFile) {\n    log.info(\"No flow file received, exiting\")\n    return\n}\n\ndef isEmpty = false\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    log.info(\"Writing to flow file\")\n\n    def parser = new JsonSlurper().parse(inputStream)\n\n    if (parser instanceof List && parser.isEmpty()) {\n        log.info(\"Parsed data is an empty list\")\n        isEmpty = true\n        return\n    }\n\n    def tunisZone = ZoneId.of(\"Africa/Tunis\")\n    def nowInstant = Instant.now()\n    def zonedNow = nowInstant.atZone(tunisZone)\n    def nowMillisTunis = zonedNow.toInstant().toEpochMilli()\n\n    log.info(\"Current timestamp in Tunis (ingestion_date): \" + nowMillisTunis)\n\n    parser.each { record ->\n        log.info(\"Processing record: \" + record)\n\n        try {\n            def hexTs = record['_id']?.substring(0, 8)\n            log.info(\"Processing record with _id: ${record['_id']}, hex timestamp: ${hexTs}\")\n\n            if (hexTs) {\n                def epochSec = Long.parseLong(hexTs, 16)\n                def utcInstant = Instant.ofEpochSecond(epochSec)\n                def tunisZoned = utcInstant.atZone(tunisZone)\n                def timestampMillisTunis = tunisZoned.toInstant().toEpochMilli()\n                record['first_seen_date'] = timestampMillisTunis\n                log.info(\"Converted first_seen_date to Tunis millis: \" + timestampMillisTunis)\n            } else {\n                record['first_seen_date'] = null\n                log.info(\"No valid _id found, setting first_seen_date to null\")\n            }\n        } catch (Exception e) {\n            record['first_seen_date'] = null\n            log.error(\"Error processing first_seen_date: ${e.message}\", e)\n        }\n\n        log.info(\"Setting ingestion_date: ${nowMillisTunis}\")\n        record['ingestion_date'] = nowMillisTunis\n        record['source_system'] = \"mongodb\"\n    }\n\n    def jsonOut = JsonOutput.toJson(parser)\n    outputStream.write(jsonOut.getBytes(StandardCharsets.UTF_8))\n    log.info(\"Data processing completed, output written\")\n} as StreamCallback)\n\nif (isEmpty) {\n    log.info(\"The flow file contained no records, removing flowFile\")\n    session.remove(flowFile)\n} else {\n    log.info(\"Transfer flowFile to success relationship\")\n    session.transfer(flowFile, REL_SUCCESS)\n}\n\nlog.info(\"Script completed\")","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"32f1849f-5ebf-367e-b7d3-4508081afaa8","instanceIdentifier":"971337a4-0196-1000-de9c-c20e42a7fb02","name":"LogAttribute","comments":"","position":{"x":2206.0,"y":314.16673278808594},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"885af575-895d-32d8-915b-bfa2ae67bdca","instanceIdentifier":"8d33c874-0196-1000-8a02-9485311fd8c3","name":"UpdateAttribute","comments":"","position":{"x":-1160.0,"y":72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"${database_name}_${collection_name}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"1ed68531-6993-3165-9b99-6fed0735445d","instanceIdentifier":"93634a3b-0196-1000-e2fe-7863b409a698","name":"PutS3Object","comments":"","position":{"x":1544.0,"y":131.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{s3.uri}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filepath}","AWS Credentials Provider service":"01810c10-c52b-3ff6-aa5b-f79db00488b6","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3.bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"true","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"663e0ba9-dc76-3bac-9095-fcf8d45fe5c1","instanceIdentifier":"969a243a-0196-1000-1e75-adb4eb5060ad","name":"RouteOnAttribute","comments":"","position":{"x":-416.0,"y":792.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Routing Strategy":"Route to Property name","copy":"${copy.index:equals(0)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"copy":{"name":"copy","displayName":"copy","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"4e98401c-6aae-31d7-af4f-0d6c6c0c7082","instanceIdentifier":"96a25f9f-0196-1000-5ef2-61abe98606ad","name":"LogAttribute","comments":"","position":{"x":-728.0,"y":72.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"e1dab8a8-ea54-3536-a550-01e082f14b06","instanceIdentifier":"c505e94f-0196-1000-de6f-0740e56fb8a8","name":"MergeRecord","comments":"","position":{"x":712.0,"y":320.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"max-bin-age":"10 min","correlation-attribute-name":"${fragment.identifier}","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"e9dc31b7-6ee8-3102-9ba6-aab03f4ebea5","merge-strategy":"Bin-Packing Algorithm","record-reader":"80115981-aaaf-3387-ad8b-e4da6c343a74","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"bf64cc9d-18d5-3d63-af41-06a0d4c37fd4","instanceIdentifier":"9695def5-0196-1000-999a-518558c99a38","name":"UpdateAttribute","comments":"","position":{"x":-960.0,"y":752.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"#{s3.zone.archive}/mongodb/${database_name}/${collection_name}/${year}/${month}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"c3030dc0-1fb1-3aef-b7f4-505948030b6b","instanceIdentifier":"96a1cbdc-0196-1000-f247-ea3aa17e122d","name":"RouteOnContent","comments":"","position":{"x":-320.0,"y":64.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must match exactly","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8c8512e2-0196-1000-1698-b3938caa38e2","instanceIdentifier":"dee03a1e-dbe5-3c76-dc7d-220aa4ef7667","name":"EvaluateJsonPath","comments":"","position":{"x":-1160.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#00ff59"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"e84cb06b-3abf-3faa-9761-a5afea9916d1","instanceIdentifier":"8d8c22f0-0196-1000-7099-718b8c0e0da9","name":"ExecuteGroovyScript","comments":"","position":{"x":-1208.0,"y":304.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.2.0"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif (!flowFile) return\n\ndef startCal = Calendar.getInstance()\nstartCal.set(2021, 0, 1, 0, 0, 0) // Jan 1, 2021\nstartCal.set(Calendar.MILLISECOND, 0)\n\ndef endCal = Calendar.getInstance()\nendCal.set(2025, 5, 1, 0, 0, 0) // June 1, 2025\nendCal.set(Calendar.MILLISECOND, 0)\n\ndef loopCal = (startCal.clone() as Calendar)\n\nwhile (loopCal.before(endCal)) {\n    def startTimestamp = (loopCal.getTimeInMillis() / 1000) as long\n\n    def nextCal = (loopCal.clone() as Calendar)\n    nextCal.add(Calendar.MONTH, 1)\n    def endTimestamp = (nextCal.getTimeInMillis() / 1000) as long\n\n    def startOid = String.format(\"%08x0000000000000000\", startTimestamp)\n    def endOid = String.format(\"%08x0000000000000000\", endTimestamp)\n\n    def newFlowFile = session.create(flowFile)\n    newFlowFile = session.putAttribute(newFlowFile, \"database_name\", flowFile.getAttribute(\"database_name\")) \n    newFlowFile = session.putAttribute(newFlowFile, \"collection_name\", flowFile.getAttribute(\"collection_name\"))\n    newFlowFile = session.putAttribute(newFlowFile, \"start_date_uid\", startOid)\n    newFlowFile = session.putAttribute(newFlowFile, \"end_date_uid\", endOid)\n\n    // Add the year and month to the attributes\n    newFlowFile = session.putAttribute(newFlowFile, \"year\", loopCal.get(Calendar.YEAR).toString())\n    newFlowFile = session.putAttribute(newFlowFile, \"month\", (loopCal.get(Calendar.MONTH) + 1).toString())  // months are zero-indexed\n\n    session.transfer(newFlowFile, REL_SUCCESS)\n\n    loopCal = nextCal // move to next month\n}\n\nsession.remove(flowFile)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"cc552c50-d908-34f5-8fc7-b97481703a70","instanceIdentifier":"969db753-0196-1000-667f-dbe50ee525d8","name":"PutS3Object","comments":"","position":{"x":-960.0,"y":960.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":"01810c10-c52b-3ff6-aa5b-f79db00488b6","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"${s3.bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"c3a1a65e-e36a-389f-aea8-528649cc78b1","instanceIdentifier":"9712c9ee-0196-1000-0299-740b207d801f","name":"PutSQL","comments":"","position":{"x":2192.0,"y":32.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"INSERT INTO staging_metadata (\t\nsource_system,\t\ncollection_name,\t\ndatabase_name,\t\nfile_path,\t\nrecord_count\t\n)\t\nVALUES (\t\n'${source_system}',\t\n'${collection_name}',\t\n'${database_name}',\t\n'${filepath}',\t\t\n${record_count}\t\n)\nON CONFLICT (file_path) DO NOTHING;","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"df307402-b98f-3cd2-b07d-127602f03e63","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure","retry"],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8c8512e1-0196-1000-c5ad-a7c3de7a8e95","instanceIdentifier":"db3aeef7-013e-3cf0-d67f-fb54e15c8470","name":"SplitJson","comments":"","position":{"x":-1568.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.collections[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#d08686"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8e287b07-3938-3de0-a2d4-2a13703eb400","instanceIdentifier":"8c7e7870-0196-1000-76ba-cc9d5eafda7f","name":"PutFile","comments":"","position":{"x":-872.0,"y":-680.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data-pipelines/data-sources/mongodb/v#{pipeline.version}/ingestion/","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"f4662b1a-f831-3426-b4c9-b2b848379f89","instanceIdentifier":"8c85a80a-0196-1000-54a0-c90126ecc4f2","name":"GetMongoRecord","comments":"","position":{"x":-712.0,"y":280.0},"type":"org.apache.nifi.processors.mongodb.GetMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.2.0"},"properties":{"mongo-client-service":"b402d377-3e5a-3ec4-8acc-5031173264ea","get-mongo-record-writer-factory":"221ddcf1-55b0-3ec2-babf-856d46899424","mongo-query-attribute":null,"Query":"{\n  \"$expr\": {\n    \"$and\": [\n      { \"$gte\": [\"$_id\", { \"$toObjectId\": \"${start_date_uid}\" }] },\n      { \"$lt\": [\"$_id\", { \"$toObjectId\": \"${end_date_uid}\" }] }\n    ]\n  }\n}","Batch Size":null,"mongodb-schema-name":"${schema.name}","Mongo Collection Name":"${collection_name}","Projection":null,"Sort":null,"Mongo Database Name":"${database_name}","Limit":null},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"get-mongo-record-writer-factory":{"name":"get-mongo-record-writer-factory","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongodb-schema-name":{"name":"mongodb-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"9d1185f9-ecee-3efb-a08c-99c30b5ac48d","instanceIdentifier":"8c7e4254-0196-1000-d41a-2cefbfa149f4","name":"InvokeHTTP","comments":"","position":{"x":-352.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://raw.githubusercontent.com/CCC-DATA-factory/data-pipelines/main/data-sources/mongodb/v#{pipeline.version}/ingestion/tracked-collections.json\n\n","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"3 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["No Retry","Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"6eece0c6-ad5f-31c3-934a-bff1cc1bd5a8","instanceIdentifier":"96a57351-0196-1000-3883-3e7431898fbd","name":"RouteOnAttribute","comments":"","position":{"x":-256.0,"y":288.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Routing Strategy":"Route to Property name","flowfile.tiny":"${fileSize:lt(20)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"flowfile.tiny":{"name":"flowfile.tiny","displayName":"flowfile.tiny","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"129dd96d-0454-3e8f-9352-60806e777450","instanceIdentifier":"c505473f-0196-1000-4ed3-554ac1e01433","name":"SplitRecord","comments":"","position":{"x":40.0,"y":520.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Record Writer":"221ddcf1-55b0-3ec2-babf-856d46899424","Record Reader":"80115981-aaaf-3387-ad8b-e4da6c343a74","Records Per Split":"1000"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"db6f1c60-2580-3f21-930d-d93f14d7e340","instanceIdentifier":"8d5016bd-0196-1000-0bda-417a5002b818","name":"UpdateAttribute","comments":"","position":{"x":-272.0,"y":-616.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"tracked-collections.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","file.name":"tracked-collections.json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file.name":{"name":"file.name","displayName":"file.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"d67e6d31-7189-35a3-b0e1-e26c1283c517","instanceIdentifier":"969828a0-0196-1000-5846-b8ce8d04a790","name":"DuplicateFlowFile","comments":"","position":{"x":-544.0,"y":536.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Number of Copies":"1"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"d6c4ee6d-836a-3e76-8056-2472090c6905","instanceIdentifier":"96fd2cf5-0196-1000-d7f0-23abec655c1d","name":"LogAttribute","comments":"","position":{"x":-968.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"eef28ea5-811e-35b0-ac12-3e8b56e31a7c","instanceIdentifier":"936238e7-0196-1000-705c-6386c5b121c5","name":"UpdateAttribute","comments":"","position":{"x":1152.0,"y":136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filepath":"#{s3.zone.staging}/mongodb/${database_name}/${collection_name}/${filename}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filepath":{"name":"filepath","displayName":"filepath","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cfe6cf3e-ae45-3bd1-acfb-7db370f208f6","instanceIdentifier":"8d33e28d-0196-1000-fc94-c4963b8b3860","name":"","source":{"id":"8c8512e0-0196-1000-c5f0-8dd8882284ca","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a3dae28b-5be6-3d10-1f59-b2cf6cab89ad"},"destination":{"id":"885af575-895d-32d8-915b-bfa2ae67bdca","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"8d33c874-0196-1000-8a02-9485311fd8c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"9c1863d1-0591-3aa6-bd6d-5397cd119c40","instanceIdentifier":"970aa117-0196-1000-6886-d5af88683e10","name":"","source":{"id":"cc552c50-d908-34f5-8fc7-b97481703a70","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutS3Object","comments":"","instanceIdentifier":"969db753-0196-1000-667f-dbe50ee525d8"},"destination":{"id":"d6c4ee6d-836a-3e76-8056-2472090c6905","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"LogAttribute","comments":"","instanceIdentifier":"96fd2cf5-0196-1000-d7f0-23abec655c1d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1038.0,"y":1148.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8c617b3d-68fa-3663-9eac-3478160ae01e","instanceIdentifier":"c50f2381-0196-1000-0344-eda90b3f2722","name":"","source":{"id":"e1dab8a8-ea54-3536-a550-01e082f14b06","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"MergeRecord","comments":"","instanceIdentifier":"c505e94f-0196-1000-de6f-0740e56fb8a8"},"destination":{"id":"eef28ea5-811e-35b0-ac12-3e8b56e31a7c","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"936238e7-0196-1000-705c-6386c5b121c5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"397a3ce2-d458-37ae-8f14-aa57e54e9d67","instanceIdentifier":"8d502af8-0196-1000-b593-0d0a181a1109","name":"","source":{"id":"9d1185f9-ecee-3efb-a08c-99c30b5ac48d","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"InvokeHTTP","comments":"","instanceIdentifier":"8c7e4254-0196-1000-d41a-2cefbfa149f4"},"destination":{"id":"db6f1c60-2580-3f21-930d-d93f14d7e340","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"8d5016bd-0196-1000-0bda-417a5002b818"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"db6f7937-f158-304b-adc4-5893cd5f6f58","instanceIdentifier":"8d8c8c70-0196-1000-f9b7-3781864b8114","name":"","source":{"id":"e84cb06b-3abf-3faa-9761-a5afea9916d1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8d8c22f0-0196-1000-7099-718b8c0e0da9"},"destination":{"id":"f4662b1a-f831-3426-b4c9-b2b848379f89","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"GetMongoRecord","comments":"","instanceIdentifier":"8c85a80a-0196-1000-54a0-c90126ecc4f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"7a871d33-02c7-3872-9ab7-20e42f5d21db","instanceIdentifier":"c5060222-0196-1000-bacc-4353c40c79b3","name":"","source":{"id":"65b3e020-3793-3aad-a27d-921926bc357a","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"AddMetadata","comments":"","instanceIdentifier":"926b239c-0196-1000-e459-d58b7f62ceaf"},"destination":{"id":"e1dab8a8-ea54-3536-a550-01e082f14b06","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"MergeRecord","comments":"","instanceIdentifier":"c505e94f-0196-1000-de6f-0740e56fb8a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"97ac6d64-7b95-3a47-a0ae-8d52ffdc8c4d","instanceIdentifier":"973719c1-0196-1000-6cbf-87777f7fa307","name":"","source":{"id":"1ed68531-6993-3165-9b99-6fed0735445d","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutS3Object","comments":"","instanceIdentifier":"93634a3b-0196-1000-e2fe-7863b409a698"},"destination":{"id":"aa05bfa8-bd6f-3059-93d9-7aaddb5ebf33","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"973700d3-0196-1000-f80a-92645ec639b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"413be412-9dbc-337b-b684-df45a0c6f35a","instanceIdentifier":"8c83424e-0196-1000-9976-84a80e030eb3","name":"","source":{"id":"837e666e-b12c-3a54-a494-bc1c001e2596","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"FetchFile","comments":"","instanceIdentifier":"8c828a08-0196-1000-0b18-fdae0f33ca2c"},"destination":{"id":"9d1185f9-ecee-3efb-a08c-99c30b5ac48d","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"InvokeHTTP","comments":"","instanceIdentifier":"8c7e4254-0196-1000-d41a-2cefbfa149f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"161905f9-7e21-33a7-ac03-1fee5bc21873","instanceIdentifier":"c507f699-0196-1000-a879-bd88e3206104","name":"","source":{"id":"663e0ba9-dc76-3bac-9095-fcf8d45fe5c1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnAttribute","comments":"","instanceIdentifier":"969a243a-0196-1000-1e75-adb4eb5060ad"},"destination":{"id":"129dd96d-0454-3e8f-9352-60806e777450","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"SplitRecord","comments":"","instanceIdentifier":"c505473f-0196-1000-4ed3-554ac1e01433"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8f817a05-f5c5-3c1d-b8fd-fad5a8a48542","instanceIdentifier":"969a4035-0196-1000-7314-89e00281ce2f","name":"","source":{"id":"d67e6d31-7189-35a3-b0e1-e26c1283c517","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"969828a0-0196-1000-5846-b8ce8d04a790"},"destination":{"id":"663e0ba9-dc76-3bac-9095-fcf8d45fe5c1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnAttribute","comments":"","instanceIdentifier":"969a243a-0196-1000-1e75-adb4eb5060ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"ab34e436-e96f-31a5-b7af-b3168b90e9cd","instanceIdentifier":"97379609-0196-1000-ad8a-19fc580b5c4e","name":"","source":{"id":"aa05bfa8-bd6f-3059-93d9-7aaddb5ebf33","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"973700d3-0196-1000-f80a-92645ec639b3"},"destination":{"id":"c3a1a65e-e36a-389f-aea8-528649cc78b1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutSQL","comments":"","instanceIdentifier":"9712c9ee-0196-1000-0299-740b207d801f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"740cd027-7b97-3399-819e-e7053a5aaeec","instanceIdentifier":"8c856d3e-0196-1000-4302-53262a074434","name":"","source":{"id":"8c8512e2-0196-1000-1698-b3938caa38e2","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dee03a1e-dbe5-3c76-dc7d-220aa4ef7667"},"destination":{"id":"8c8512e1-0196-1000-c5ad-a7c3de7a8e95","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"SplitJson","comments":"","instanceIdentifier":"db3aeef7-013e-3cf0-d67f-fb54e15c8470"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"78b6d9ce-6355-3c48-810b-87ae4c1436bb","instanceIdentifier":"8c83f5ba-0196-1000-9266-98537a730b2a","name":"","source":{"id":"8e287b07-3938-3de0-a2d4-2a13703eb400","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutFile","comments":"","instanceIdentifier":"8c7e7870-0196-1000-76ba-cc9d5eafda7f"},"destination":{"id":"837e666e-b12c-3a54-a494-bc1c001e2596","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"FetchFile","comments":"","instanceIdentifier":"8c828a08-0196-1000-0b18-fdae0f33ca2c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"972e3645-b6a5-3687-ae14-6604db1b5567","instanceIdentifier":"c5059435-0196-1000-b0c6-d962983015c2","name":"","source":{"id":"129dd96d-0454-3e8f-9352-60806e777450","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"SplitRecord","comments":"","instanceIdentifier":"c505473f-0196-1000-4ed3-554ac1e01433"},"destination":{"id":"65b3e020-3793-3aad-a27d-921926bc357a","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"AddMetadata","comments":"","instanceIdentifier":"926b239c-0196-1000-e459-d58b7f62ceaf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"4acd4d13-6211-37b8-90b2-388fd9b673df","instanceIdentifier":"8c85896a-0196-1000-5278-1334e729811d","name":"","source":{"id":"8c8512e1-0196-1000-c5ad-a7c3de7a8e95","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"SplitJson","comments":"","instanceIdentifier":"db3aeef7-013e-3cf0-d67f-fb54e15c8470"},"destination":{"id":"8c8512e0-0196-1000-c5f0-8dd8882284ca","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a3dae28b-5be6-3d10-1f59-b2cf6cab89ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"1b132e2f-4c12-3372-83b9-8b360e2eb786","instanceIdentifier":"936368b0-0196-1000-5b24-76e99605a8a1","name":"","source":{"id":"eef28ea5-811e-35b0-ac12-3e8b56e31a7c","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"936238e7-0196-1000-705c-6386c5b121c5"},"destination":{"id":"1ed68531-6993-3165-9b99-6fed0735445d","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutS3Object","comments":"","instanceIdentifier":"93634a3b-0196-1000-e2fe-7863b409a698"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"a90d5dcd-2a13-3d2c-8fea-4eea78cd2d94","instanceIdentifier":"8d503624-0196-1000-50ab-173cfb55fa60","name":"","source":{"id":"db6f1c60-2580-3f21-930d-d93f14d7e340","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"8d5016bd-0196-1000-0bda-417a5002b818"},"destination":{"id":"8e287b07-3938-3de0-a2d4-2a13703eb400","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutFile","comments":"","instanceIdentifier":"8c7e7870-0196-1000-76ba-cc9d5eafda7f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"9124b3a2-59a2-372a-a9aa-cdce27f6a083","instanceIdentifier":"8c8326b0-0196-1000-9a35-237180fb1502","name":"","source":{"id":"412cc840-677c-3fbd-b93c-7a4457336f58","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8c7cf893-0196-1000-ffde-9051c7a6b3f8"},"destination":{"id":"837e666e-b12c-3a54-a494-bc1c001e2596","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"FetchFile","comments":"","instanceIdentifier":"8c828a08-0196-1000-0b18-fdae0f33ca2c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"7f943de9-8d4b-390a-87ed-ba5f875478a3","instanceIdentifier":"969e2753-0196-1000-e916-4e941964923d","name":"","source":{"id":"bf64cc9d-18d5-3d63-af41-06a0d4c37fd4","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"9695def5-0196-1000-999a-518558c99a38"},"destination":{"id":"cc552c50-d908-34f5-8fc7-b97481703a70","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutS3Object","comments":"","instanceIdentifier":"969db753-0196-1000-667f-dbe50ee525d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"096c7059-34d4-3736-aafa-7cfcb64cecaa","instanceIdentifier":"c52198ff-0196-1000-1666-5bbf44083536","name":"","source":{"id":"65b3e020-3793-3aad-a27d-921926bc357a","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"AddMetadata","comments":"","instanceIdentifier":"926b239c-0196-1000-e459-d58b7f62ceaf"},"destination":{"id":"65b3e020-3793-3aad-a27d-921926bc357a","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"AddMetadata","comments":"","instanceIdentifier":"926b239c-0196-1000-e459-d58b7f62ceaf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":525.0,"y":159.0},{"x":525.0,"y":209.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"0a07a5e0-c84b-3280-a0ff-32d8fe68c23a","instanceIdentifier":"971353bb-0196-1000-4d7a-5ba12aa8e32b","name":"","source":{"id":"c3a1a65e-e36a-389f-aea8-528649cc78b1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutSQL","comments":"","instanceIdentifier":"9712c9ee-0196-1000-0299-740b207d801f"},"destination":{"id":"32f1849f-5ebf-367e-b7d3-4508081afaa8","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"LogAttribute","comments":"","instanceIdentifier":"971337a4-0196-1000-de9c-c20e42a7fb02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"83dd6aef-aa04-3881-9cb2-bc296414ea69","instanceIdentifier":"8d8c7e38-0196-1000-869a-dfb4cc6dbe31","name":"","source":{"id":"885af575-895d-32d8-915b-bfa2ae67bdca","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"8d33c874-0196-1000-8a02-9485311fd8c3"},"destination":{"id":"e84cb06b-3abf-3faa-9761-a5afea9916d1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8d8c22f0-0196-1000-7099-718b8c0e0da9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"bc653348-d2f9-3f2a-b6c9-675d468112aa","instanceIdentifier":"8c854391-0196-1000-3444-c87c43459312","name":"","source":{"id":"837e666e-b12c-3a54-a494-bc1c001e2596","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"FetchFile","comments":"","instanceIdentifier":"8c828a08-0196-1000-0b18-fdae0f33ca2c"},"destination":{"id":"8c8512e2-0196-1000-1698-b3938caa38e2","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dee03a1e-dbe5-3c76-dc7d-220aa4ef7667"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"3c2d7e99-2a11-3791-a205-a3a6d63ef8f8","instanceIdentifier":"96a746ce-0196-1000-e98a-61a949a6525d","name":"","source":{"id":"6eece0c6-ad5f-31c3-934a-bff1cc1bd5a8","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnAttribute","comments":"","instanceIdentifier":"96a57351-0196-1000-3883-3e7431898fbd"},"destination":{"id":"c3030dc0-1fb1-3aef-b7f4-505948030b6b","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnContent","comments":"","instanceIdentifier":"96a1cbdc-0196-1000-f247-ea3aa17e122d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["flowfile.tiny"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"a44cf5e8-3853-3d33-9d40-4d337c506a95","instanceIdentifier":"96a75af0-0196-1000-26dc-60938efc7af5","name":"","source":{"id":"6eece0c6-ad5f-31c3-934a-bff1cc1bd5a8","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnAttribute","comments":"","instanceIdentifier":"96a57351-0196-1000-3883-3e7431898fbd"},"destination":{"id":"d67e6d31-7189-35a3-b0e1-e26c1283c517","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"969828a0-0196-1000-5846-b8ce8d04a790"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"a8c807da-14e1-3cdb-bdf6-9bc4c02858a2","instanceIdentifier":"96a58da3-0196-1000-162c-ea314684a388","name":"","source":{"id":"f4662b1a-f831-3426-b4c9-b2b848379f89","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"GetMongoRecord","comments":"","instanceIdentifier":"8c85a80a-0196-1000-54a0-c90126ecc4f2"},"destination":{"id":"6eece0c6-ad5f-31c3-934a-bff1cc1bd5a8","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnAttribute","comments":"","instanceIdentifier":"96a57351-0196-1000-3883-3e7431898fbd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"47eb5730-30d7-3198-a5ff-0497e229b0f0","instanceIdentifier":"96a77c74-0196-1000-7d9d-d661c3ee4f7f","name":"","source":{"id":"c3030dc0-1fb1-3aef-b7f4-505948030b6b","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnContent","comments":"","instanceIdentifier":"96a1cbdc-0196-1000-f247-ea3aa17e122d"},"destination":{"id":"4e98401c-6aae-31d7-af4f-0d6c6c0c7082","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"LogAttribute","comments":"","instanceIdentifier":"96a25f9f-0196-1000-5ef2-61abe98606ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"3d467fdf-aebf-3954-8181-b331455d56f0","instanceIdentifier":"969a87bf-0196-1000-f301-9d9b06888c7f","name":"","source":{"id":"663e0ba9-dc76-3bac-9095-fcf8d45fe5c1","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"RouteOnAttribute","comments":"","instanceIdentifier":"969a243a-0196-1000-1e75-adb4eb5060ad"},"destination":{"id":"bf64cc9d-18d5-3d63-af41-06a0d4c37fd4","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"UpdateAttribute","comments":"","instanceIdentifier":"9695def5-0196-1000-999a-518558c99a38"},"labelIndex":0,"zIndex":0,"selectedRelationships":["copy"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"36d4f8df-30ec-39ec-852f-16c0cfb001f4","instanceIdentifier":"96fd5f92-0196-1000-6d44-381863d0c6f0","name":"","source":{"id":"cc552c50-d908-34f5-8fc7-b97481703a70","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"PutS3Object","comments":"","instanceIdentifier":"969db753-0196-1000-667f-dbe50ee525d8"},"destination":{"id":"d6c4ee6d-836a-3e76-8056-2472090c6905","type":"PROCESSOR","groupId":"6fe9c947-349b-3ed2-8b61-bcba706ef302","name":"LogAttribute","comments":"","instanceIdentifier":"96fd2cf5-0196-1000-d7f0-23abec655c1d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"076450a2-c346-31a3-ab2c-2da763b29d1a","instanceIdentifier":"9820427a-0196-1000-cb13-49e4bc69f2ea","name":"JsonPathReader-raw","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","JSON Paths":"$","Timestamp Format":null,"Date Format":null,"schema-name":"${schema.name}","schema-registry":"8ed45b70-1b4a-3f6b-a1f0-b640ec4e583c","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Paths":{"name":"JSON Paths","displayName":"JSON Paths","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"b2d1cbdd-3163-3ce4-ab82-50ff1c8df8f8","instanceIdentifier":"8d300bf7-0196-1000-9fa6-fab88f526e2e","name":"StandardWebClientServiceProvider","comments":"","type":"org.apache.nifi.web.client.provider.service.StandardWebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-web-client-provider-service-nar","version":"2.2.0"},"properties":{"connect-timeout":"10 secs","redirect-handling-strategy":"FOLLOWED","read-timeout":"10 secs","ssl-context-service":null,"proxy-configuration-service":null,"write-timeout":"10 secs"},"propertyDescriptors":{"connect-timeout":{"name":"connect-timeout","displayName":"Connect Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"redirect-handling-strategy":{"name":"redirect-handling-strategy","displayName":"Redirect Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"read-timeout":{"name":"read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-timeout":{"name":"write-timeout","displayName":"Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.web.client.provider.api.WebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"e2dcca53-9bbe-39c9-80d5-ba084670ca6f","instanceIdentifier":"981bb5a7-0196-1000-7b17-258d11b490c1","name":"ApicurioSchemaRegistry-staging","comments":"","type":"org.apache.nifi.apicurio.schemaregistry.ApicurioSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-apicurio-nar","version":"2.2.0"},"properties":{"Schema Registry URL":"#{apicurio.uri}","Schema Group ID":"asel-schemas.ingestion-staging-schemas","Cache Size":"1000","Cache Expiration":"10 hour","Web Client Service Provider":"b2d1cbdd-3163-3ce4-ab82-50ff1c8df8f8"},"propertyDescriptors":{"Schema Registry URL":{"name":"Schema Registry URL","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Group ID":{"name":"Schema Group ID","displayName":"Schema Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service Provider":{"name":"Web Client Service Provider","displayName":"Web Client Service Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"4c024a76-e90c-36a6-99a6-98555a811feb","instanceIdentifier":"96932383-0196-1000-3d7d-8f4d144968c2","name":"ananymosWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"80115981-aaaf-3387-ad8b-e4da6c343a74","instanceIdentifier":"9352372d-0196-1000-db05-529e6dd4bd33","name":"anonim","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"01810c10-c52b-3ff6-aa5b-f79db00488b6","instanceIdentifier":"937220de-0196-1000-2a70-25819142280d","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"42c4b640-1d09-3718-b4ea-c3d7d997975f","instanceIdentifier":"8d30ac59-0196-1000-657e-4ad0b076bc5a","name":"VolatileSchemaCache","comments":"","type":"org.apache.nifi.schema.inference.VolatileSchemaCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"max-cache-size":"100"},"propertyDescriptors":{"max-cache-size":{"name":"max-cache-size","displayName":"Maximum Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSchemaCacheService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"b402d377-3e5a-3ec4-8acc-5031173264ea","instanceIdentifier":"8d283734-0196-1000-1f47-6cd901d6f654","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.2.0"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":null,"mongo-uri":"#{mongo.uri}","mongo-write-concern":"ACKNOWLEDGED"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"mongo-write-concern":{"name":"mongo-write-concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"221ddcf1-55b0-3ec2-babf-856d46899424","instanceIdentifier":"9836e1b2-0196-1000-5cff-9ffad6b86958","name":"JsonRecordSetWriter-raw ","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":"42c4b640-1d09-3718-b4ea-c3d7d997975f","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"8ed45b70-1b4a-3f6b-a1f0-b640ec4e583c","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"df307402-b98f-3cd2-b07d-127602f03e63","instanceIdentifier":"9714c9f9-0196-1000-a296-b659d2babc87","name":"PG.ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"#{pg.uri}","dbcp-time-between-eviction-runs":"-1","Database User":"#{pg.user}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/custom_libs/postgresql-42.7.5.jar","dbcp-max-idle-conns":"8","Password":"#{pg.password}"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"52b2678d-46ed-3b64-a6d8-21e5d0970933","instanceIdentifier":"96abcd63-0196-1000-ad34-219caf8f1ccc","name":"StandardS3EncryptionService","comments":"","type":"org.apache.nifi.processors.aws.s3.encryption.StandardS3EncryptionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"encryption-strategy":"NONE","kms-region":"us-west-2"},"propertyDescriptors":{"key-id-or-key-material":{"name":"key-id-or-key-material","displayName":"Key ID or Key Material","identifiesControllerService":false,"sensitive":true,"dynamic":false},"encryption-strategy":{"name":"encryption-strategy","displayName":"Encryption Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kms-region":{"name":"kms-region","displayName":"KMS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"8ed45b70-1b4a-3f6b-a1f0-b640ec4e583c","instanceIdentifier":"8d2e62ed-0196-1000-adef-1addfe06d66a","name":"ApicurioSchemaRegistry","comments":"","type":"org.apache.nifi.apicurio.schemaregistry.ApicurioSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-apicurio-nar","version":"2.2.0"},"properties":{"Schema Registry URL":"#{apicurio.uri}","Schema Group ID":"asel-schemas.ingestion-raw-schemas","Cache Size":"1000","Cache Expiration":"10 hour","Web Client Service Provider":"b2d1cbdd-3163-3ce4-ab82-50ff1c8df8f8"},"propertyDescriptors":{"Schema Registry URL":{"name":"Schema Registry URL","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Group ID":{"name":"Schema Group ID","displayName":"Schema Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Web Client Service Provider":{"name":"Web Client Service Provider","displayName":"Web Client Service Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"e9dc31b7-6ee8-3102-9ba6-aab03f4ebea5","instanceIdentifier":"8c9b9c91-0196-1000-78d2-ebbe33d81e25","name":"JsonRecordSetWriter-stagiing-schemas","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":"42c4b640-1d09-3718-b4ea-c3d7d997975f","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"e2dcca53-9bbe-39c9-80d5-ba084670ca6f","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"5c1e7e0e-fde4-375d-8e04-ce3a6c664d98","instanceIdentifier":"973e571a-0196-1000-0cc5-2fd683234c22","name":"FreeFormTextRecordSetWriter","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"Text":"/","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"},{"identifier":"ec1e244c-1ea4-34e3-aeb7-cd4f5cb1a441","instanceIdentifier":"8d35a80c-0196-1000-3b52-9ae47a5412f5","name":"JsonPathReader-staging","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","JSON Paths":"$","Timestamp Format":null,"Date Format":null,"schema-name":"${schema.name}","schema-registry":"e2dcca53-9bbe-39c9-80d5-ba084670ca6f","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Paths":{"name":"JSON Paths","displayName":"JSON Paths","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6fe9c947-349b-3ed2-8b61-bcba706ef302"}],"parameterContextName":"ingestion_v2 ","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ingestion_v2 ":{"name":"ingestion_v2 ","parameters":[{"name":"s3.zone.staging","description":"","sensitive":false,"provided":false,"value":"staging"},{"name":"pg.password","description":"","sensitive":true,"provided":false},{"name":"pg.uri","description":"","sensitive":false,"provided":false,"value":"jdbc:postgresql://postgres:5432/iceberg"},{"name":"s3.bucket","description":"","sensitive":false,"provided":false,"value":"asel"},{"name":"s3.zone.archive","description":"","sensitive":false,"provided":false,"value":"archive"},{"name":"mongo.uri","description":"","sensitive":false,"provided":false,"value":"mongodb://192.168.1.13:27017/"},{"name":"pipeline.version","description":"","sensitive":false,"provided":false,"value":"1"},{"name":"apicurio.uri","description":"","sensitive":false,"provided":false,"value":"http://apicurio:8080/apis/registry/v2"},{"name":"pg.user","description":"","sensitive":false,"provided":false,"value":"iceberg"},{"name":"s3.uri","description":"","sensitive":false,"provided":false,"value":"http://minio:9005"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}